@import './mathpix_styles.css';

.container {
  height: auto;
  display: flex;
  min-height: 100%;
}

.sidebar {
  flex: 0 0 300px;
  border-right: 1px solid #c8c4e6;
  padding: 30px;
}

.sidebar__list {
  list-style: none;
  padding: 0;
  font-size: 16px;
}

.sidebar__item {
  margin: 7px 0;
  text-transform: capitalize;
}

.sidebar__item a, .sidebar__item a:visited {
  color: #000;
}

.sidebar__item.active a {
  color: rgb(0, 17, 255);
}

.sidebar__item a:hover {
  color: rgb(0, 17, 255);
}

.markdown-body {
  padding: 40px;
  width: calc(100% - 300px);
}
